body {
  background: rgb(10, 161, 50) url("../images/Thumb.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

* {
  font-family: inherit;
}

body::-webkit-scrollbar {
  display: none;
}

div {
  box-sizing: border-box;
}

.cflex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fnt_lg {
  font-size: 22px;
}

.fooHeading {
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
}

.page-header-container {
  background: rgb(10, 161, 50) url("../images/Thumb.jpg") no-repeat center 0;
  background-size: cover;
  padding: 9px 20px 5px 20px;
  height: 74px;
}

.page-header {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0;
  border-radius: 10px;
  margin: auto;
  height: 100%;
  background: linear-gradient(transparent, white);
}

.page-header-left {
  flex: 1;
  display: flex;
  align-items: center;
}

.page-header-right {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-home-img {
  display: inline-block;
  background: url(../images/home-5-48.png) no-repeat center center / 60% 60%;
  border-radius: 10px;
  width: 60px;
  height: 60px;
  margin-right: 10px;
  box-shadow: 0 -1px 6px white;
}

.header-home-img a {
  display: block;
  width: 100%;
  height: 100%;
}

.header-home-img:active {
  box-shadow: 0 1px 6px white inset;
}

.header-text {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-shadow: 0 0 6px black;
  color: white;
}

.menu-button {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 0 0.5vw;
  text-align: center;
  margin: 0 0.4vw;
  height: 80%;
  border-radius: 10px 10px 0 0 ;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.menu-button:hover {
  box-shadow: 0 -4px 6px white;
}

.menu-button:active {
  box-shadow: 0 4px 6px white inset;
}

.menu-button img {
  flex: 1;
  width: 20px;
  height: 20px;
}

.menu-button span {
  flex: 2;
  margin-left: 8px;
}

.header-filters {
  background-color: rgb(10, 161, 50);
  /* background: rgb(10, 161, 50) url("../images/Thumb.jpg") no-repeat -65px -74px; */
  background-size: cover;
  padding: 5px 20px;
  position: sticky;
  width: 100%;
  top: 74px;
  z-index: 1;
}

.filters-container {
  width: 100%;
  padding: 0;
}

.form-flex {
  width: 100%;
  flex-wrap: wrap;
  margin: 0;
}

.filters-container select {
  padding: 0 4px;
  border: none;
  outline: none;
  margin: 4px 4px 0 0;
  font-size: 16px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: white;
  text-indent: 4px;
  min-width: 160px;
  cursor: pointer;
  height: 36px;
  background-image: url("../images/arrow-216-16.png");
  background-position: 95% center;
  background-repeat: no-repeat;
}

.filters-container label {
  width: 100%;
  display: none;
  height: 16px;
  margin-top: 4px;
  margin-bottom: 1px;
  color: white;
  padding-left: 10px;
  flex: 0.4;
}

.flex12 {
  flex: 1.2;
}

.flex10 {
  flex: 1;
}

form button {
  height: 36px;
  border-radius: 4px;
  font-size: 16px;
  background-color: lightgray;
  margin: 4px 4px 0 0;
  padding: 0 4px;
  color: white;
  cursor: pointer;
  outline: none;
}

.responding:hover {
  box-shadow: 0 0 4px 3px rgba(255, 255, 255, 0.5);
}

.responding:active {
  box-shadow: 0 0 4px 3px rgba(255, 255, 255, 0.9);
}

.form-buttons {
  flex: 1.3;
  display: flex;
  min-width: 160px;
}

.sel-area span {
  font-size: 8px;
  color: dodgerblue;
}

.search-button {
  flex: 1;
  border: 1px solid rgb(41, 107, 171);
  background-color: rgb(57, 123, 185);
}

.clear-button {
  flex: 1.5;
  border: 1px solid rgb(236, 161, 38);
  background-color: rgb(237, 173, 70);
}

main {
  background-color:rgba(255, 255, 255, 0.9);
  margin: 8px 20px 20px 20px;
  padding: 20px;
}

.main-grid {
  padding-bottom: 30px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(500px, 1fr) minmax(500px, 1fr) minmax(500px, 1fr) minmax(500px, 1fr) minmax(500px, 1fr));
}

.grid-item a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.home-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 'top top top' 'top top top' 'top top top' 'bottom-left bottom-center bottom-right';
}

.top-picture {
  grid-area: top;
  overflow: hidden;
}

.bottom-left-picture {
  grid-area: bottom-left;
  overflow: hidden;
}

.bottom-center-picture {
  grid-area: bottom-center;
  overflow: hidden;
}

.top-picture img,
.bottom-left-picture img,
.bottom-center-picture img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.bottom-right-info {
  height: 100%;
  grid-area: bottom-right;
  background-color: red;
  display: grid;
  grid-template-areas: 'location' 'location' 'description' 'description' 'price' 'price' 'facilities';
}

.bottom-right-info-location {
  padding: 2px 4px;
  line-height: 1.1;
  color: white;
  grid-area: location;
  background-color: black;
}

.bottom-right-info-description {
  padding: 2px;
  grid-area: description;
  background-color: white;
  color: black;
}

.bottom-right-info-price {
  padding: 2px;
  font-size: 18px;
  color: white;
  text-decoration: none;
  grid-area: price;
  background-color: rgb(0, 174, 223);
}

.bottom-right-info-facilities {
  grid-area: facilities;
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.info-facility {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 24px;
  height: 24px;
}

.park-yes {
  background-image: url("../images/car-4-24-b.png");
}

.tv-yes {
  background-image: url("../images/tv-24-b.png");
}

.wifi-yes {
  background-image: url("../images/wireless-24-b.png");
}

.park-no {
  background-image: url("../images/car-4-24.png");
}

.tv-no {
  background-image: url("../images/tv-24.png");
}

.wifi-no {
  background-image: url("../images/wireless-24.png");
}

footer {
  background-color: rgb(57, 123, 185);
  height: 100px;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heart {
  margin: 0 6px;
  font-size: 16px;
  color: white;
  /* -webkit-animation: heart-animation 0.5 infinite; */
  /* -moz-animation: heart-animation 0.5 infinite; */
  animation: heart-animation 0.5s 0.5 infinite;

  /* animation-duration: 0.5;
  animation-iteration-count: infinite; */
  /* animation-direction: alternate-reverse; */
}

@keyframes heart-animation {
  /* from {font-size: 16px;} */
  to {font-size: 40px;}
  /* from {color: white;} */
  /* to { color: red;} */
}

@media only screen and (max-width: 768px) {
  body {
    background-position: 0 0;
    background-size: 100% auto;
  }

  .vis-lg {
    display: none;
    visibility: hidden;
  }

  .page-header-container {
    padding: 4px 20px 5px 20px;
    height: 70px;
  }
  
  .page-header {
    background-color: rgba(15, 141, 15, 0.95);
    border-radius: 6px;
  }

  .header-home-img {
    background-color: rgba(80, 150, 80, 0.5);
  }

  .page-header-right {
    flex: 1;
    justify-content: center;
  }

  .menu-button {
    padding: 0 6vw;
    margin: 0 1vw;
  }

  .menu-button span {
    display: none;
  }

  .menu-button img {
    width: 24px;
    height: 24px;
  }

  .header-filters {
    position: relative;
    top: 0;
  }

  label {
    font-size: 14px;;
  }

  .filters-container select,
  .form-flex div {
    margin-top: 4px;
    margin-bottom: 6px;
  }

  .form-flex {
    flex-direction: column;
    height: 520px;
    padding-bottom: 10px;
  }

  .form-buttons {
    order: -1;
  }

  .filters-container label {
    display: block;
  }

  .flex12,
  .flex10 {
    flex: 1;
    width: 100%;
    height: 40px;
    margin-bottom: 6px;
  }

  .search-button,
  .clear-button {
    flex: 1;
  }
}

@media only screen and (min-width: 769px) {
  .vis-lg {
    display: flex;
    visibility: visible;
  }
}

@media only screen and (min-width: 1025px) {
  .fnt_lg {
    font-size: 26px;
  }

  .vis-lg {
    display: flex;
    visibility: visible;
  }
}
